.text-container{
	border: 2px solid #41D6BF;
	height: 100%;
	margin: 2%;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
}

#text{
	margin: 1%;
}

#email{
	margin: 1%;
	text-align: center;
}

#logo {
	animation-name: swing;
	animation-duration: 3s;
	animation-delay: 2s;
	/* animation-iteration-count: 2s; */
}

#contact{
	display: flex;
  align-items: flex-start;
  justify-content: space-between;
	margin: 20px;
}

.skills-icon{
	height: 60px;
	width: 60px;
}
	 