
.text-container{
	border: 2px solid #41D6BF;
	height: 100%;
	margin: 2%;
}

h1{
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-size: 3em;
	font-weight: bold;
	color:#41D6BF;
}
h2{
	text-align: center;
	font-family:'Lato', sans-serif;
	font-size: 1.2em;
	font-style: italic;
}

#p{
	font-family: 'Lato', sans-serif;
	display:block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

#email{
	margin: 1%;
	text-align: center;
	padding: 12px;
	font-size: 3em;
	cursor: pointer;
}

#logo {
	animation-name: flip;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 2;
}

#contact{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 20px;
}

.skills-icon{
	height: 60px;
	width: 60px;
}

.link{
	font-family:'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	padding: 12px;
}