
	body {
			margin: 0px;
			height: 100vh;
			background: white;
	}

	.container {
			display: flex;
			padding: 20px;
			height: 600px;
			width: 600px;
			background-image: url(..//img/cover.png);
			justify-content: center;
	}

	.cover {
			height: 50px;
	}

	.logo {
			padding-right: 79%;
	}

	.profile-pic {
			position: relative;
	}

	@media screen and (min-width: 700px) {
			.container {
					display: none;
			}