
body {
margin: 0px;
height: 100vh;
background: white;
}

.container {
  display: flex;
  padding: 20px;
  height: 600px;
  width: 600px;
  background-image: url(..//img/cover.png);
  justify-content: center;
}

.cover {
 height: 50px;
}

.logo {
 padding-right: 79%;
 }

 .profile-pic {
  position: relative;
  }

  @media screen and (min-width: 700px) {
    .container {
      display: none;
    }
/* 
 .avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: url('./profile.jpg');
  background-position: center;
  background-size: cover;
} */


 /* height: 20vh; */
  /* background-repeat: no-repeat;
  background-size: cover; 
    /* position: relative; */
/* 
.cover {
  position: absolute;
  top: 60%;
  left: 35%;
  padding: 45px 0px 80px;
  background-color: #55B9FF;
  width: 40vw;
  height: 20vh;
  opacity: 0.7;
  /* text-align: center;
  font-family:'Lato', sans-serif; */
  /* font-style: Bold; */
  /* Font-size: 25; */

  /* display: flex; */
  /* justify-content: right;
  align-items: right;
  width: 53px;
  height: 23px; */ 

  /* padding-top: 60px; */
