
.text-container{
	border: 2px solid #41D6BF;
	height: 100%;
	margin: 2%;
}

h1{
	text-align: center;
	font-family:'Roboto', sans-serif;
	font-size: 3em;
	font-weight: bold;
	color:#41D6BF;
}
h2{
	text-align: center;
	font-family:'Lato', sans-serif;
	font-size: 1.2em;
	font-style: italic;
}

#text{
	font-family: 'Lato', sans-serif;
	display:block;
	margin: 2%;
}

#email{
	margin: 1%;
	text-align: center;
	padding: 12px;
	font-size: 3em;
	width: 40%;
}

#contact{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 20px;
}

.skills-icon{
	height: 70px;
	width: 70px;
}
.icon-text{
	text-align: center;
}

.icon-container{
	display: flex;
	justify-content: space-between;
	margin: 20px;
}