
.flex-cover-container {
  display: flex;
  height: 200px;
  align-items: flex-start;
  background-image: url("..//img/cover.png");
  justify-content: space-between;
}

.flex-cover-container > #logo {
  width: 100px;
  margin: 10px;
  text-align: center;
  height: 80px;
  animation-name: flip;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-iteration-count: 2;
}

.flex-cover-container > #profile-pic {
  width: 145px;
  margin: 20px;
  text-align: center;
  height: 175px;
}

@media screen and (min-width: 600px) {
  .container {
      background: blue;
  }
}