
.flex-nav-container {
  display: flex;
  height: 20px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
}

.link {
  background-color:#55B9FF;
  color:white;
  cursor: pointer;
}

.link:hover {
  background-color: #41D6BF;
}