
.flex-nav-container {
  display: flex;
  height: 200px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
}

/* 
.link {
  /* padding: 0px 15px 0px 20px; */
  /* margin-left: 15px;
  /* text-decoration: none; */
  /* color: green;
} */ 

/*.link:hover {
  /* transform: scale(1.1); */
  /* color: purple;
} */ 