
.navbar {
  height: 70px;
  box-shadow: var(--shadow);
  background-color: #6200EE;
  color: white;
}

.navbar-logo {
  float:left;
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 15px;
}

.navbar-links {
  display: flex;
  float: right;
  height: 100%;
  align-items: flex-end;
}

.link {
  padding: 0px 15px;
  text-decoration: none;
  color: white;
}

.link:hover {
  transform: scale(1.1);
}